
html, body{
	margin: 0px;
	padding: 0px; 
	border: 0px;
background: -moz-linear-gradient(top,  #cfddac,  #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#cfddac), to(#fff));
    background: linear-gradient(rgb(207,221,172),rgb(255,255,255));

}

.error {
	font-weight: bold;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 204, 204);
}

.nav {
	background: rgb(255, 255, 255);
	top:0px; left:0px;
	height:60px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px auto;
	width: 100%;
 }

li {
	border: 1px solid black;
	float: left;
	width: 10em;
	height: 2em;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	background: #E0F0FF;
	margin: 5px;
}

li > A:link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

li > A:visited {
	color: black;
}

li > A:hover {
	color: red;
}


.tablehead {
	background: rgb(255, 204, 204);
}

.linkable {
	background: rgb(229, 255, 204);
}

.linkable:hover {
	background-color: rgb(204, 229, 255); 
	cursor: hand;
}

table {
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: collapse;
}

a > div {
	text-decoration: none;
	color: white;
}

a > div:hover {
	color: red;
	cursor: hand;
}

button {
	background: rgb(204, 229, 255);
	border: 1px;
}

.btns{
	background: rgb(204, 229, 255);
        border: 0px none;
}

.btns:hover {
	border: 1px solid;
}

.tdbtns {
	width: 25%;
	height: 30px;
}

.tdhist {
        width: 25%;
        height: 30px;
	border-bottom: 1px dashed black;
	word-break: break-all;
}

.fieldval:hover {
	font-size: 1.3em;
}

.divlarge {
	position: relative;
	width: 95%;
	margin: 30px;
}
