{% extends 'Calendar/base.html' %}
{% block body %}

	<div align="center">
		<form action="/assign/{{ form.initial.id }}" method="POST">
		{% csrf_token %}
			{% for field in form %}
			    	<div class="fieldWrapper">
	        			<p class="error">{{ field.errors.as_text }}</p>
	        			{{ field.label_tag }} {{ field }}
	    			</div>
			{% endfor %}
		<input type="submit" value="Assigner" />
		</form>
	</div>

	<div align="center">
		<form action="/delete/{{ form.initial.id }}" method="GET">
			<input type="submit" value="Supprimer">
		</form>
	</div>

{% endblock %}
