<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			if ($("#id_batchs").prop('checked')){

                                $( ".batchType" ).show();
                        }
                        else{
                                $( ".batchType" ).hide();
                        }
               		if ($("#id_refresh").prop('checked')){
                                $( ".daterefresh" ).show();
                        }
                        else{
                                $( ".daterefresh" ).hide();
                        }
                        $( ".hist" ).hide();
                        $( "#editrequest" ).fadeToggle("slow");


		});
		$(function() {
			$( "#dateFrom" ).datepicker();
			$( "#dateTo" ).datepicker();
			$( "#dateRefresh" ).datepicker();
			//$( "#datefromselect" ).datepicker({ dateFormat: 'yy-mm-dd' });
			$( "#datefromselect" ).datepicker();
			//$( "#datetoselect" ).datepicker({ dateFormat: 'yy-mm-dd' });
			$( "#datetoselect" ).datepicker();
			$( "#id_refresh" ).click(function() {
				if ($("#id_refresh").prop('checked')){
					$( ".daterefresh" ).fadeToggle("slow");
				}
				else{
					$( ".daterefresh" ).fadeToggle("slow");
				}
			});
			$( "#id_batchs" ).click(function() {
				if ($("#id_batchs").prop('checked')){
					$( ".batchType" ).fadeToggle("slow");
				}
				else{
					$( ".batchType" ).fadeToggle("slow");
				}
			});
			$( "#showhistory" ).click(function() {
				$( ".hist" ).fadeToggle("slow");
					var pos=$("#hist").offset().top;
					if( $( ".hist" ).attr("name")) {
						$('html, body').animate({scrollTop:pos}, 'slow');
						$( "#showhistory" ).val("Cacher l'historique");
						$( ".hist" ).removeAttr("name");		
					}
					else{
						$('html, body').animate({scrollTop:0}, 'slow');
						$( "#showhistory" ).val("Historique de la demande");
						$( ".hist" ).attr("name", "cache");
					}
			});
			$( "#printbtn").click( function() {
				window.print();
			});

		});
	</script>
	<div width="100%" style="text-align: center; position: relative;">
		<p><h1>Environnement Management</h1></p>
	</div>


	</head>


	<body>
	<div width="100%" class="nav" style="position: relative; top: 0px">
		<ul>
			<li><a href="/create/" class="links">Nouvelle demande</a></li>
			<li><a href="/" class="links">liste des demandes</a></li>
			<li><a href="/login/" class="links">Connexion Admin</a></li>
			{% if user.is_authenticated %}
			<li><a href="/admin/" class="links">Administration</a></li>
			<li><a href="/logout/" class="links">Deconnexion</a></li>
			{% endif %}
		</ul>
	</div>
	<div>
		{% block body %} {% endblock %}
	</div>

	</body>
</html>
