{% extends 'Calendar/base.html' %}
{% load Calendar_extras %}
{% block body %}
<script>
$(document).ready(function () {
	$( ".batchType" ).show();
	$( ".daterefresh" ).show();
});
</script>
<style type="text/css">
	@media print {
		body * {
			visibility:hidden;
		}
		#printable, #printable * {
		  	visibility:visible;
		}
		#printable {
			position: relative;
			top: 0px;
		}
	}
</style>
	<div align="center" style="position: relative; width: 95%; margin: 30px; display: none;" id="editrequest">
		{% csrf_token %}
			<table style="width: 100%;" id="printable">
			{% for field in form %}
			    	<tr class={{field.name}} style="background-color:{% cycle '#D6FFD6' '#E0F0FF' %};">
					<td style="width: 50%; height: 30px; border-bottom: 1px dashed black;">
	        			{{ field.label_tag }}
					</td>
					<td style="width: 50%; word-break: break-all; height: 30px; border-bottom: 1px dashed black;">
					{% if field.name == 'refresh' %}
						{% if not field.value %}
							Non
						{% else %}
							Oui
						{% endif %}
					{% else %}
						{% if field.name == 'batchs' %}
							{% if not field.value %}
								Non
							{% else %}
								Oui
							{% endif %}
						{% else %}	
							{% if field.name|findin:"refresh" %}
								{% if not field.value %}
									---
								{% else %}
									{{ field.value }}
								{% endif %}
							{% else %}
								{% if field.name == 'apps' %}
									{{ applis }}
								{% else %}
									{{ field.value }}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
					</td>
	    			</tr>
			{% endfor %}
			</table>
	</div>
      <div align="center" style="position: relative; width: 95%; margin: 30px;" class="hist" id="hist" name="cache">
        <table style="width: 100%" id="printable">
                <tr>
                        <td style="width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                champs modifie
                        </td>
                        <td style="width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                date de modification
                        </td>
                        <td style="width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                ancienne valeur
                        </td>
                        <td style="width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                nouvelle valeur
                        </td>
                </tr>
                {% for h in history %}
                        <tr>
                                <td style="word-break: break-all; width: 25%; height: 30px; border-bottom: 1px dashed black;">
					{% if h.fieldmodified == 'batchs' %}
						Besoin de Batchs
					{% else %}
						{% if h.fieldmodified == 'batchType' %}
							Type de batchs
						{% else %}
							{% if h.fieldmodified == 'title' %}
								Titre
							{% else %}
								{% if h.fieldmodified == 'apps' %}
									Applications
								{% else %}
									{% if h.fieldmodified == 'start' %}
										Debut
									{% else %}
                                                                        	{% if h.fieldmodified == 'end' %}
											Fin
										{% else %}
                                                                        		{% if h.fieldmodified == 'trigram' %}
												Trigramme
											{% else %}
												{% if h.fieldmodified == 'comments' %}
													Commentaires
                                        							{% else %}
													{{h.fieldmodified}}
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
                                </td>
                                <td style="word-break: break-all; width: 25%; height: 30px; border-bottom: 1px dashed black;">
					{{h.datemodif}}
                                </td>
                                <td style="word-break: break-all; width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                        {{h.valuebefore}}
                                </td>
                                <td style="word-break: break-all; width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                        {{h.valueafter}}
                                </td>
                        </tr>
                {% endfor %}
        </table>
        </div>
	<div align="center" style="position: relative; width: 95%; margin: 30px;">

			<table style="width: 100%">
			<tr>
			<td style="width: 25%; height: 30px; border-bottom: 1px dashed black; padding-top: 20px;">
				<form action="/edit/{{ form.initial.id }}" method="GET">
					<input class="btns" type="submit" value="Editer la demande" style="width: 150px; height: 25px;"/>
				</form>
			</td>
			<td style="width: 25%; height: 30px; border-bottom: 1px dashed black; padding-top: 20px;">
		                <form action="/delete/{{ form.initial.id }}" method="GET">
                		        <input class="btns" type="submit" value="Supprimer la demande" style="width: 150px; height: 25px; background-color: #FF9999"/>
                		</form>
			</td>
			 <td style="width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                        <button id="showhistory" style="width: 150px; height: 25px; -color: red"><span id="btnhist">Historique de la demande</span></button>
                        </td>
			<td style="width: 25%; height: 30px; border-bottom: 1px dashed black;">
                                        <button class="btns" style="width: 150px; height: 25px;" onClick="javascript:window.print()">Imprimer la page</button>
                        </td>

			</tr>
			</table>
{% endblock %}
