{% extends 'Calendar/base.html' %}
{% load Calendar_extras %}
{% block body %}
<script>
$(document).ready(function () {
	$( ".batchType" ).show();
	$( ".daterefresh" ).show();
});
</script>
<style type="text/css">
	@media print {
		body * {
			visibility:hidden;
		}
		#printable, #printable * {
		  	visibility:visible;
		}
		#printable {
			position: relative;
			top: 0px;
		}
	}
</style>
	<div align="center" style="display: none;" class="divlarge" id="editrequest">
		{% csrf_token %}
			<table style="width: 100%;" id="printable">
			{% for field in form %}
			    	<tr class={{field.name}} style="background-color:{% cycle '#D6FFD6' '#E0F0FF' %};">
					<td class="tdhist" style="width: 50%;">
					<b>
	        				{{ field.label_tag }}
					</b>
					</td>
					<td class="tdhist fieldval" style="width: 50%;">
					{% if field.name == 'refresh' %}
						{% if not field.value %}
							Non
						{% else %}
							Oui
						{% endif %}
					{% else %}
						{% if field.name == 'batchs' %}
							{% if not field.value %}
								Non
							{% else %}
								Oui
							{% endif %}
						{% else %}	
							{% if field.name|findin:"refresh" %}
								{% if not field.value %}
									---
								{% else %}
									{{ field.value }}
								{% endif %}
							{% else %}
								{% if field.name == 'apps' %}
									{{ applis }}
								{% else %}
									{{ field.value }}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
					</td>
	    			</tr>
			{% endfor %}
			</table>
	</div>
	{% if history %}
	      	<div align="center" class="hist divlarge" id="hist" name="cache">
	        	<table style="width: 100%" id="printable">
	        	        <tr>
	        	                <td class="tdhist">
	        	                        <b>Champ modifie</b>
	        	                </td>
	        	                <td class="tdhist">
	        	                        <b>Date de modification</b>
	        	                </td>
	        	                <td class="tdhist">
	        	                        <b>Ancienne valeur</b>
	        	                </td>
	        	                <td class="tdhist">
	        	                        <b>Nouvelle valeur</b>
	        	                </td>
	        	        </tr>
	        	        {% for h in history %}
	        	                <tr>
	        	                	<td class="tdhist">
							{% if h.fieldmodified == 'batchs' %}
								Besoin de Batchs
							{% else %}
								{% if h.fieldmodified == 'batchType' %}
									Type de batchs
								{% else %}
									{% if h.fieldmodified == 'title' %}
										Titre
									{% else %}
										{% if h.fieldmodified == 'apps' %}
											Applications
										{% else %}
											{% if h.fieldmodified == 'start' %}
												Debut
											{% else %}
	        	                                                                	{% if h.fieldmodified == 'end' %}
													Fin
												{% else %}
	        	                                                                		{% if h.fieldmodified == 'trigram' %}
														Trigramme
													{% else %}
														{% if h.fieldmodified == 'comments' %}
															Commentaires
	        	                                							{% else %}
															{% if h.fieldmodified == 'daterefresh' %}
																Date du refresh 
															{% else %}
																{% if h.fieldmodified == 'refresh' %}
																	Besoin de refresh
																{% else %}
																	{{h.fieldmodified|capitalize}}
																{% endif %}
															{% endif %}
														{% endif %}	
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
	        	                        </td>
	        	                	<td class="tdhist">
							{{h.datemodif}}
	        	                        </td>
	        	                	<td class="tdhist">
							{% if h.valuebefore == 'False' %}
								Non
							{% else %}
								{% if h.valuebefore == 'True' %}
									Oui
								{% else %}
	        	                                		{{h.valuebefore}}
								{% endif %}
							{% endif %}
							
	        	                        </td>
	        	                	<td class="tdhist">
	        	                                {% if h.valueafter == 'False' %}
	        	                                        Non
	        	                                {% else %}
	        	                                        {% if h.valueafter == 'True' or h.valueafter == 'on' %}
	        	                                                Oui
	        	                                        {% else %}
	        	                                                {{h.valueafter}}
	        	                                        {% endif %}
	        	                                {% endif %}
	        	                        </td>
	        	                </tr>
	        	        {% endfor %}
	        	</table>
	        	</div>
	{% else %}
	      	<div align="center" class="hist divlarge" id="hist" name="cache">
			<p class="error">La demande n'a pas de changements dans son historique</p>
		</div>
	{% endif %}
		<div align="center" class="divlarge">
			<table style="width: 100%">
				<tr>
					<td class="tdbtns" style="padding-top: 20px;">
						<form action="/edit/{{ form.initial.id }}" method="GET">
							<input class="btns" type="submit" value="Editer la demande" style="width: 150px;  height: 25px;"/>
						</form>
					</td>
					<td class="tdbtns" style="padding-top: 20px;">
			        	        <form action="/delete/{{ form.initial.id }}" method="GET">
	                			        <input class="btns" type="submit" value="Supprimer la demande" style="width: 150px; height: 25px;  background-color: #FF9999"/>
	                			</form>
					</td>
					<td class="tdbtns">
	                        	                <input class="btns" id="showhistory" style="width: 150px; height: 25px;" type="submit" value="Historique de la demande"/>
	                        	</td>
					<td class="tdbtns">
	                        	                <input class="btns" style="width: 150px; height: 25px; " type="submit" value="Imprimer la page" id="printbtn"/>
	                        	</td>
				</tr>
			</table>
		</div>
{% endblock %}
